body{
    background-color: #edf0da;
}

#gridContainer{
    margin-left: auto; 
    margin-right: auto; 
    width: 800px; 
    height: 480px;
    display: grid; 

    background-color: #f0dfad;
}

#title{
    padding-top: 500px;
    text-align: center;
}
#titleText{
    color: #aa4465;
    font-family: Candara, Helvetica, sans-serif;
}
#menu{
    margin-left:auto ;
    margin-right:auto;
    text-align: center;
}

#footer{
    text-align: center;
    position: absolute;
    width: 100%;
    left:0;
    bottom: 0;
}
p{
    text-align: center;
    color: #aa4465;
    font-family: Candara, Helvetica, sans-serif;
}

